/* Global Styles */
* {
  box-sizing: border-box;
}

h1,
.welcome {
  text-shadow: 5px 4px 3px #9b2d2d;
}

body,
.main-header p {
  background: black;
  color: #e8eeef;
  padding: 0;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
}

footer {
  font-size: .75em;
  padding: 0;
}

p {
  text-align: left;
}

#submit:hover {
  opacity: 0.85;
}

h3,
h4 {
  text-shadow: 0 0 7px #dbca97;
}

.ffxiv-intro {
  margin-bottom: 1em;
}

.game-info {
  border: 2px solid #dcba97;
  padding: 3px 5px;
}

.sec4 {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  font-size: 22px;
  border-top: 2px solid #dcba97;
}

.sec5 {
  text-align: center;
  font-size: 1.15em;
}

/* Accordion Styles */

button {
  position: sticky;
  top: 0;
  margin-top: 2px;
}

#tanks {
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
}

#ranged {
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
}

.active {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion_panels {
  border: 2px solid #dbca97;
  padding: 5px;
  margin: 10px;
  line-height: 1.2em;  
}

.tank-panel {
  background: linear-gradient(90deg, #2d3a80, rgb(41, 41, 41) );
}

.tank-bg {
  background-color: #2d3a80;
  color: #e8eeef;
  text-align: center;
}

.healer-panel {
  background: linear-gradient(90deg, #346624, rgb(41, 41, 41) );
}

.healer-bg {
  background-color: #346624;
  color: #e8eeef;
  text-align: center;
}

.dps-panel {
  background: linear-gradient(90deg, #732828, rgb(41, 41, 41) );
}

.dps-bg {
  background-color: #732828;
  color: #e8eeef;
  text-align: center;
}

.accordion::after {
  content: '\02795';
  font-size: 13px;
  color: #dbca97;
  float: right;
  margin: 5px 0 0 5px;

}

.active::after {
  content: '\2796';
}

/* Image Styles*/

.title::before,
.title::after {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  content: "";
  background: url(../images/dalamud.png) no-repeat 0 0;
  background-size: 100%;
}

div img {
  width: 100px;
  height: auto;
}

/* Form Styles */

.contact-form {
  margin: 25px 0;
  padding-bottom: 10px;
  background-color: rgb(41, 41, 41);
  border-radius: 5px;
}

form h3 {
  margin: 10px 0;
  padding: 10px;
}

input,
select,
#submit {
  font-size: 1em;
  color: black;
  font-weight: 300;
  width: 90%;
  border: none;
  height: auto;
  padding: 10px;
  margin-bottom:.25em;
  outline: 0;
  border-radius: 0.4em;
  background-color: #e8eeef;
}

#submit:hover:disabled {
  opacity: 1;
}

input:not([type="submit"]) {
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.45);
}

#submit,
select[name="job"] {
  cursor: pointer;
  background-color: #e8eeef;
}

#submit {
  margin-top: 2em;
}

#submit:disabled {
  background: rgb(41, 41, 41);
  color: #e8eeef;
  cursor: default;
  border: 1px solid #e8eeef;
}

label {
  display: block;
  margin: 0.5em 0;
}

/* Video Styles  */

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 5px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Media Queries - Mobile First*/

/* Tablet Display */
@media screen and (min-width: 401px) and (max-width: 900px) {

  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sec1 {
    box-shadow: 0 -8px 10px #dcba97;
    width: 87%;
    font-size: 1.1em;
  }

  .sec2 {
    box-shadow: -10px 8px 10px #dcba97; 
    width: 40%;
  }

  .sec3{
    box-shadow: 10px 8px 10px #dcba97; 
    width: 40%;
  }

  .jobs-intro {
    flex-direction: column;
  }

  .game-info {
    margin: 10px;
  }

  .sec5 {
    box-shadow: 0 8px 10px #dcba97;
    font-size: 1.1em;
    margin: 1em 10%;
  }

  .jobs-container {
    flex-basis: 70%;
    margin: 25px 0;
  }

  .form-container {
    flex-basis: 70%;
    margin: 0;
    padding: 0;
    position: static;
  }
}

/* Desktop Display */
@media screen and (min-width: 901px) {

  body {
    max-width: 960px;
    margin: auto;
  }

  .container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .game-info {
    text-align: center;
  }

  .sec1 {
    box-shadow: 0 8px 10px #dcba97;
    flex-basis: 80%;
    font-size: 1.5em;
    order: 1;
    margin: 0 10px;
  }

  .sec2 {
    box-shadow: -10px 8px 10px #dcba97; 
    flex-basis: 40%;
    order: -1;
  }

  .sec3{
    box-shadow: 10px 8px 10px #dcba97; 
    flex-basis: 40%;
    order: 2;
  }

  .sec5 {
    box-shadow: 0 8px 10px #dcba97;
    font-size: 1.1em;
    margin: 1em 10%;
  }

  .jobs-container {
    flex-basis: 45%;
    margin-top: 25px;

  }

  .form-container {
    flex-basis: 45%;
  }
  
  input,
  select {
    font-size: 1em;
    color: black;
    width: 90%;
    border: none;
    height: auto;
    padding: 5px;
    margin-bottom:.25em;
    outline: 0;
    border-radius: 0.4em;
    background-color: #e8eeef;
  }

  .interactive {
    align-items: flex-start;
  }

  footer {
    width: 100%;
    padding-bottom: 10px;
  }

  /* Accordion Styles */
  .accordion:hover {
    opacity: .75; 
  }
}
