/* Global Styles */
* {
  box-sizing: border-box;
}
body,
.main-header p {
  background: black;
  color: white;
  padding: 0;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
}

p {
  text-align: left;
  border: 2px solid red;
}

/* Nav Styles */
nav-bar {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

/* List Styles */

ul {
  list-style-type: none;
}

ul img {
  width: 30px;
  height: auto;
}

form {
  margin-bottom: 15px;
}

input {
  font-size: 1em;
  color: black;
  font-weight: 300;
  width: 90%;
  border: none;
  height: auto;
  padding: 10px;
  margin: 10px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: 0.3em;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  background-color: #e8eeef;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

/* Media Queries - Mobile First*/

/* Tablet Display */
@media screen and (min-width: 401px, max-width: 800px) {
}

/* Desktop Display */
@media screen and (min-width: 801px) {
}
